<div class="content-center">
  <div class="header">
    <h1>{{title}}</h1>
  </div>

  <table border="1" class="bio-table">
    <tr>
      <td>Name</td>
      <td>Muksam Limboo</td>
    </tr>
    <tr>
      <td width="180">Registration Number</td>
      <td>201800313</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>muksam1234@smit.smu.edu.in</td>
    </tr>
    <tr>
      <td>Bio</td>
      <td>Hello, there! This is Muksam Limboo. This is a brief Bio About me. Hello World! <br> And Bye bye, Yo ho ho!
      </td>
    </tr>
  </table>
</div>
